@page
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]
@{
    ViewData["Title"] = "Restricted Page";
}

<h1>Restricted Page</h1>
<p>This page is only accessible by Admin users. You must have the Admin role to view this page.</p>
